@media screen and (max-width: 650px) {
    header .nav-btns{
        width: 120px;
    }
 }

 @media screen and (max-width: 500px){
    .nav-btns a{
        display: none;
    }

    .action-btn {
        display: none;
    }

    .title{
        margin: 0 auto;
        background-color: pink;
    }
 }