@media screen and (max-width: 650px) {
    header .nav-btns{
        width: 120px;
        display: flex;
    }
 }

 @media screen and (max-width: 500px){
    
    header .nav-btns{
        /* display: none; */
        flex-direction: column;
        transform: translateY(60px);
        width:100%;
        gap:20px;
    text-align: center;
    background-color: white;
    padding-bottom: 20px;
        justify-content: space-around;
        position: fixed;
        left: -100%;
        transition: 0.3s;
    }

    .action-btn {
        /* display: none; */
        visibility: collapse;
        position: fixed;
        left: -100%;
    }

    .nav-btns.active{
        left: 0;
    }

    
    .title{
        /* margin: 0 auto; */
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: pink;
        margin: 0 auto;
    }

    .hamburger{
        visibility: visible;
    }

    header{
        justify-content: center;
        background-color: lavender;
    }

    /* 
    
    trying out the hamburger menu from devCommunity article

    .hamburger{
    display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    } */

    .card-container{
        display: flex;
        flex-direction: column;
        margin: 30px auto;
    }

    .card-container .card{
        height: 200px;
    }

    .card-container .explore{
        justify-content: center;
        height: 150px;
    }
 }