:root{
    background-color: #F5F3EF;
    --card: #FFFFFF;
    --accent: #FEBD2F;
    --text-primary: #000000;
    --text-secondary: #646464;
    --outline: #DCDCDC;
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1{
    font-family: roboto serif;
    font-size: 64px;
    font-weight: 500;
    flex-shrink: 1;
}

h2 {
    font-family: roboto serif;
    font-size: 30px;
    flex-shrink: 1;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 5%;
    margin/padding also not working in here*/
}

button{
    padding: 5px 10px;
    border-radius: 15px;
    border: solid 1px #DCDCDC;
    background-color: none;
}

a{
    text-decoration: none;
    color: #000000;
}

.main-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60px 1fr 1fr 60px;
    grid-template-areas: 
    "header header header"
    "banner banner banner"
    "card-container card-container card-container"
    "footer footer footer";
    background-color: var(--background-color);
    /*why isn't the margin working for the entire page here?
    */
}

/* ----------------- HEADER ------------------- */

header {
    grid-area: header;
    grid-column: 1 / -1;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    width: 80%;
    margin: 0 auto;
}

header .nav-btns a{
    padding: 0 15px;
}
.action-btn button{
    background-color: var(--text-primary);
    color: var(--card);
    padding: 5px 15px;
    font-family: roboto;
}
/* ----------------- HEADER ------------------- */
/* ----------------- MAIN CONTAINTER --------------*/ 

main{
    grid-column: 1 / -1;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
/* ------------- BANNER --------------- */

.banner{
    grid-area: banner;
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    /* padding-top: 20px; not doing anything */
}

.slogan{
    grid-area: slogan;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;

}

.slogan h1{
    width: 70%;
}

.slogan p{
/* padding-top: 5%; */
width: 70%;
font-size: 24px;
font-family: Roboto;
}

.img-cont {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    margin: 0 auto;
    flex-basis: auto;
    align-items: center;
}

.img-cont img{
    width: 80%;
}

/* ------------- BANNER------------ */

.card-container{
    grid-area: card-container;
    grid-column: 1 / -1;
    display: grid;  
    width: 80%;
    margin: 60px auto; /* this property centers the content between horizontally*/
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(200px, auto);
    grid-row-start: 3;
    grid-row-end: 5;
    column-gap: 10px;
    row-gap: 30px;
    }
/*I want to create padding or margin below or above the card container, but it makes it so the 
site has to scroll. Would I be able to achieve this if I made the cards inside the container smaller?*/

.card-container .card{
    background-color: var(--card);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    width: 80%;
    padding: 0 30px;
    justify-self: center;
}

.card-container .explore{
    background-color: #FEBD2F;
}

.card-container button{
    align-self: flex-start;
    background-color: var(--card);
    border: var(--outline) 1px solid;
}

.card-container img{
    position: absolute;
    top: -20px;
    right: 15px;
}
/* ----------------- MAIN CONTAINTER --------------*/ 
/* ---------------- FOOTER --------------------- */
footer{
    background-color: var(--accent);
    grid-area: footer;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Today's goals:
  - create upper/lower margins/borders for my card container without making
  the page have to scroll
  -review flex/grid properties for changing how elements behave when VP gets
  larger/smaller
  -what are general media querie VP sizes for phone and tablet?

  768pxtablet 481 mobile

  */

  @media screen and (max-width: 1410px){

    h1 {
        font-size: 50px;

    }

    .slogan p {
        font-size: 20px;
        padding-top: 10px;
    }

    .card-container img{
        position: absolute;
        top: -20px;
        right: 0px;
    }
  }

  /* absolute image is overlapping on top of the card text - 
  how do I make the image smaller at the max-width1280 query?
  
  Orrrr i may just put the tablet styling at this width...*/

@media screen and (max-width: 1280px){
    .card-container img{
        max-width: 60%;
    }
}

  @media screen and (max-width: 1170px){
    h1 {
        font-size: 40px;
    }
  }