* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1{
    font-family: roboto serif;
    font-size: 64px;
    font-weight: 500;
}

h2 {
    font-family: roboto serif;
    font-size: 40px;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    padding: 5px 10px;
    border-radius: 15px;
    border: solid 1px #DCDCDC;
    background-color: none;
}

a{
    text-decoration: none;
    color: #000000;
}

.main-container{
    width: 100vw;
    height: 100vh;
    padding: 0 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60px 5fr 6fr 60px;
    grid-template-areas: 
    "header header header"
    "banner banner banner"
    "card-container card-container card-container"
    "footer footer footer";
    background-color: skyblue;
   /* what does this do?
   grid-auto-columns: minmax (1fr,auto); */
}

/* ----------------- HEADER ------------------- */

header {
    grid-area: header;
    grid-column: 1 / -1;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
    background-color: pink;
}

header .nav-btns a{
    padding: 0 15px;
}

/* ----------------- HEADER ------------------- */
/* ----------------- MAIN CONTAINTER --------------*/ 

main{
    grid-column: 1 / -1;

}
/* ------------- BANNER --------------- */

.banner{
    background-color: palegoldenrod;
    grid-area: banner;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "slogan img";
}

.slogan{
    grid-area: slogan;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 17% 17%;
    background-color: aquamarine;
}

.slogan h1{
    width: 70%;
}

.slogan p{
padding-top: 5%;
width: 70%;
font-size: 24px;
font-family: Roboto;
}

.img-cont {
    grid-area: img;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-cont img{
    width: 600px;
    height: auto;
}

/* ------------- BANNER------------ */

.card-container{
    background-color: lavender;
    grid-area: card-container;
    grid-column: 1 / -1;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 20px;
}

.card-container .explore{
    background-color: #FEBD2F;
}

.card-container .card{
    background-color: pink;
    border-radius: 15px;

}
/* ----------------- MAIN CONTAINTER --------------*/ 
/* ---------------- FOOTER --------------------- */
footer{
    background-color: rosybrown;
    grid-area: footer;
    grid-column: 1 / -1;
}